<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Velha Game</title>
</head>
<body>
     <main class="min-h-screen flex items-center justify-center bg-pink-200">
        <div class="p-4 bg-white">
            <h2>Jogo da Velha</h2>
            <div class="w-96 grid grid-cols-3 justify-center">
                <div class="h-32 text-xl font-bold border border-black text-red-900 flex items-center justify-center">?</div>
                <div class="h-32 text-xl font-bold border border-black text-red-900 flex items-center justify-center">?</div>
                <div class="h-32 text-xl font-bold border border-black text-red-900 flex items-center justify-center">?</div>
                <div class="h-32 text-xl font-bold border border-black text-red-900 flex items-center justify-center">?</div>
                <div class="h-32 text-xl font-bold border border-black text-red-900 flex items-center justify-center">?</div>
                <div class="h-32 text-xl font-bold border border-black text-red-900 flex items-center justify-center">?</div>
                <div class="h-32 text-xl font-bold border border-black text-red-900 flex items-center justify-center">?</div>
                <div class="h-32 text-xl font-bold border border-black text-red-900 flex items-center justify-center">?</div>
                <div class="h-32 text-xl font-bold border border-black text-red-900 flex items-center justify-center">?</div>
            </div>
        </div>
    </main>
</body>
</html>