<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Minha Página Razor</title>
</head>
<body>
    <main class="min-h-screen flex items-center justify-center bg-purple-100">
        <div class="p-4 bg-white">
            <h2 class="text-xl">Asp.Net Core Web</h2>
            <h2>Pagina Web</h2>
            <p>
                <a class="text-blue-500" href="/form">Ir para a página de formulário</a>
            </p>
        </div>
    </main>
</body>
</html>
